<a href="https://colab.research.google.com/github/profitdldbs/profit/blob/main/%EB%98%90%EC%9E%89230721.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
print("홍지수 잘생겼다 콘서트 가고싶다")

홍지수 잘생겼다 콘서트 가고싶다

In [3]:
a=input("안녕은 영어로? ")

안녕은 영어로? Hi

In [14]:
a=int(input("자네 생일이 언제지? 숫자로 나타내봐. "))

if(a==220):
  print("220? 284와 우애수이군. 아주 특별한 수이지.")
elif(a==1210):
  print("1210? 1184와 우애수이군. 두 번째 우애수로 아주 특별한 수이지.")
else:
  print("그렇군...아름다운 수야.")

자네 생일이 언제지? 숫자로 나타내봐. 1210
1210? 1184와 우애수이군. 두 번째 우애수로 아주 특별한 수이지.

In [17]:
a=int(input("정수를 입력하세요: "))
b=int(input("어나더 정수 입력: "))

print(a+b)

정수를 입력하세요: 314159265365897
어나더 정수 입력: 932384626433
315091649992330

In [ ]:
# =: 대입, ==: 같다, !=: 같지 않다
# > < >= <=
# +: 더하기, -: 빼기, *: 곱하기, /: 나누기, **: 제곱 %: 나머지

In [21]:
a=input("지금 날씨가 어때? ")

if a=="비":
  print("우산 들고 나가")
elif(a=="태풍"):
  print("집에 있어")
else:
  print("걍 나가")

지금 날씨가 어때? 맑아
걍 나가

In [38]:
cheer=input("힛을 입력하세요: ")

if cheer=="힛":
  print("승철 정한 지수 준휘 순영 원우 지훈 명호 민규 석민 승관 한솔 찬!! 세븐틴세븐틴세븐틴세븐틴 호우! 세븐틴세븐틴세븐틴세븐틴 호!")

힛을 입력하세요: 힛
승철 정한 지수 준휘 순영 원우 지훈 명호 민규 석민 승관 한솔 찬!! 세븐틴세븐틴세븐틴세븐틴 호우! 세븐틴세븐틴세븐틴세븐틴 호!

In [40]:
# 계산기

a=int(input("값을 입력하라: "))
b=int(input("값을 입력하라: "))
계산=input("수행하고싶은 계산 입력(*,/,+,-,**): ")

if (계산=="*"):
  print(a*b)
elif (계산=="/"):
  print(a/b)
elif 계산=="+":
  print(a+b)
elif 계산=="-":
  print(a-b)
else:
  print("저는 멍청해요 사칙연산만 하게 해주세요..")

값을 입력하라: 3
값을 입력하라: 5
수행하고싶은 계산 입력(*,/,+,-,**): **
저는 멍청해요 사칙연산만 하게 해주세요..

In [46]:
sex=input("성별을 입력하세요: ")
time=int(input("들어온 시간을 입력하세요: "))

if sex=="여자":
  if time<=12:
    print("A")
  else:
    print("B")
if sex=="남자":
  if time<=10:
    print("A")
  else:
    print("B")

성별을 입력하세요: 여자
들어온 시간을 입력하세요: 15
B

In [70]:
kg = float(input("몸무게(kg): "))
h = float(input("키(m): "))
bmi = kg/(h*h)
print("당신의 bmi는", bmi, "입니다.")

if bmi>=25.00:
  if bmi>=45:
    print('걸어오실 때 땅이 꺼지는 느낌이 드셨지 않나요?')
  else:
    print('조금만 노력하시면 정상이 되실 수 있으세요!')
elif 18.5<=bmi<=23:
  print('지극히 정상이세요 축하드립니다')
elif 23<bmi<25.00:
  print('과체중이시네요 조금만 노력하시면 정상이 될 수 있어여~')
elif bmi<18.5:
  if bmi<=5:
    print('곧 돌아가실 것 같아요')
  else:
    print('노력하시면 정상이 되실 수 있어요!')

몸무게(kg): 82
키(m): 1.872
당신의 bmi는 23.39926218131346 입니다.
과체중이시네요 조금만 노력하시면 정상이 될 수 있어여~

In [3]:
for i in range(1):
  print("조슈아"+str(i))

조슈아0

In [12]:
x = int(input("값을 입력하5: "))

for i in range(x):
  print(i+1)

값을 입력하5: 5
1
2
3
4
5

In [50]:
# * 찍기

# N(1 ≤ N ≤ 100)
N = int(input("정수를 입력하세요: "))

for i in range(N):
  print("*"*(i+1))

정수를 입력하세요: 4
*
**
***
****

In [18]:
for i in range(1):
  for j in range(5):
    print((j+1) * "*")

*
**
***
****
*****

In [48]:
x = float(input("정수를 입력해 주세요: "))

for i in range(9):
  print(str(x) + " * "+str(i+1)+" = "+str(x*(i+1)))

정수를 입력해 주세요: 5
5.0 * 1 = 5.0
5.0 * 2 = 10.0
5.0 * 3 = 15.0
5.0 * 4 = 20.0
5.0 * 5 = 25.0
5.0 * 6 = 30.0
5.0 * 7 = 35.0
5.0 * 8 = 40.0
5.0 * 9 = 45.0

In [47]:
for i in range(9):
  for a in range(9):
    print(str(i+1) + " * "+str(a+1)+" = "+str((a+1)*(i+1)))
  print("--------------")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
--------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------

In [53]:
i = 0
while(a>5):
  print("a가 5보다 커여")
  if i == 3:
    break
  i = i + 1

a가 5보다 커여
a가 5보다 커여
a가 5보다 커여
a가 5보다 커여

In [71]:
while(True):
  계산=input("수행하고싶은 계산 입력(+,-,*,/)/종료: ")
  if (계산=="종료"):
    print("종료되었습니다.")
    break

  a=int(input("값을 입력하라: "))
  b=int(input("값을 입력하라: "))

  if (계산=="*"):
    print(a*b)
  elif (계산=="/"):
    print(a/b)
  elif 계산=="+":
    print(a+b)
  elif 계산=="-":
    print(a-b)
  else:
    print("저는 멍청해요 사칙연산만 하게 해주세요..")
  print("-------------------------")

수행하고싶은 계산 입력(+,-,*,/)/종료: *
값을 입력하라: 4
값을 입력하라: 6
24
-------------------------
수행하고싶은 계산 입력(+,-,*,/)/종료: 종료
종료되었습니다.